Repository CommonCoreOntology/CommonCoreOntologies, pull requests merged in 2025-08, with the labels that each got.

#711 fixed exact matching inverse definition per #557
  src/cco-modules/AgentOntology.ttl
Labels: Reviewed by CCO WG

#715 Deprecating is_made_of and is_material_of
  src/cco-modules/ExtendedRelationOntology.ttl
Labels: Created by CCO WG

#723 Mine updates and errata fixes to ArtifactOntology.ttl
  src/cco-modules/ArtifactOntology.ttl
Labels: Reviewed by CCO WG, Created by CCO WG
